body {
  background: #fff; }

.nav {
  position: relative;
  font-family: FZYOUH_508R--GB1-4;
  display: block;
  width: 100%;
  height: 78px;
  line-height: 78px;
  background: #fff;
  padding: 0 65px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px; }
  .nav nav {
    width: 894px;
    margin: 0 auto;
    height: 100%; }
    .nav nav ul {
      float: left;
      display: flex; }
      .nav nav ul li a {
        font-family: MyriadPro-Regular;
        height: 78px;
        line-height: 78px;
        font-size: 14px;
        color: #7f7f7f;
        margin-right: 27px; }
    .nav nav .zyqh {
      text-align: center;
      float: right;
      position: relative;
      color: #7f7f7f;
      font-size: 14px; }
      .nav nav .zyqh span {
        height: 0;
        width: 0;
        display: inline-block;
        border: 5px solid transparent;
        border-top-color: #7f7f7f;
        margin-left: 10px;
        margin-bottom: -1px; }
      .nav nav .zyqh .changeBox {
        width: 110px;
        background: #fff;
        border-radius: 5px;
        position: absolute;
        z-index: 20;
        top: 60px;
        right: 0;
        overflow: hidden;
        display: none;
        -webkit-box-shadow: 1px 1px 2px 0 #d3d3d3;
        box-shadow: 1px 1px 2px 0 #d3d3d3; }
        .nav nav .zyqh .changeBox div {
          padding: 5px 20px;
          cursor: pointer;
          height: 40px;
          line-height: 40px; }
        .nav nav .zyqh .changeBox div:hover {
          background: #f9fafc; }

.cont {
  width: 100%; }
  .cont .cont_bt {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden; }
    .cont .cont_bt p {
      font-size: 20px;
      color: #000;
      text-align: center;
      letter-spacing: 0;
      margin-top: 70px;
      font-weight: 600; }
  .cont .register {
    width: 960px;
    margin: 0 auto; }
    .cont .register .register_cont {
      width: 442px;
      min-height: 488px;
      margin: 0 auto;
      overflow: hidden;
      margin-top: 44px; }
      .cont .register .register_cont .register_gj {
        margin-top: 36px;
        position: relative;
        width: 342px;
        margin: 9px auto; }
        .cont .register .register_cont .register_gj .zoneInput_country {
          position: absolute;
          top: 0;
          left: 0;
          width: 90px;
          text-align: center;
          line-height: 48px;
          font-size: 14px;
          color: #000; }
        .cont .register .register_cont .register_gj .zoneInput_country::after {
          content: "";
          position: absolute;
          right: 0;
          top: 18px;
          height: 12px;
          width: 1px;
          background: #d8d8d8; }
        .cont .register .register_cont .register_gj input {
          display: block;
          width: 100%;
          height: 48px;
          margin: 0 auto;
          background: #f7f7f7;
          border-radius: 9px;
          box-sizing: border-box;
          font-size: 14px;
          color: #000;
          padding: 0 10px 0 90px;
          text-indent: 16px;
          border: none; }
        .cont .register .register_cont .register_gj .gj {
          background: #f7f7f7;
          width: 342px;
          height: 320px;
          position: absolute;
          overflow-x: hidden;
          overflow-y: scroll;
          z-index: 999;
          padding: 8px 10px;
          box-sizing: border-box;
          border: 1px solid #f7f7f7;
          border-radius: 9px;
          margin-top: 9px;
          top: 49px;
          left: 50%;
          transform: translate(-50%);
          display: none; }
          .cont .register .register_cont .register_gj .gj .icon-sousuo-copy {
            position: absolute;
            top: 18px;
            left: 20px; }
          .cont .register .register_cont .register_gj .gj input {
            padding: 0;
            width: 100%;
            background-color: #fff;
            border: none;
            outline: none;
            text-indent: 34px;
            color: #9b9b9b;
            height: 34px;
            box-sizing: border-box;
            border-radius: 9px; }
          .cont .register .register_cont .register_gj .gj .gj_szm {
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            padding: 0 16px;
            color: #4d4d4d;
            box-sizing: border-box;
            border-bottom: 1px solid #efefef;
            text-align: left; }
          .cont .register .register_cont .register_gj .gj ul {
            padding: 0 16px; }
            .cont .register .register_cont .register_gj .gj ul li {
              height: 40px;
              line-height: 40px;
              font-size: 14px;
              color: #000;
              text-align: left; }
              .cont .register .register_cont .register_gj .gj ul li span {
                float: right;
                color: #999; }
            .cont .register .register_cont .register_gj .gj ul li:hover {
              color: #d8d8d8; }
            .cont .register .register_cont .register_gj .gj ul li:hover span {
              color: #d8d8d8; }
        .cont .register .register_cont .register_gj .zoneInput_down {
          position: absolute;
          top: 22px;
          right: 16px;
          display: inline-block;
          width: 0;
          height: 0;
          border: 6px solid transparent;
          border-top-color: gainsboro; }
      .cont .register .register_cont .region_tip {
        width: 342px;
        margin: 6px auto 12px;
        opacity: .4;
        font-family: sans-serif;
        font-size: 12px;
        color: #000; }
      .cont .register .register_cont .register_phone {
        position: relative;
        width: 342px;
        margin: 9px auto; }
      .cont .register .register_cont .phone_qh {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 77px;
        text-align: center;
        line-height: 48px;
        height: 48px;
        padding-right: 22px;
        box-sizing: border-box;
        z-index: 10; }
        .cont .register .register_cont .phone_qh i {
          position: absolute;
          top: 20px;
          right: 8px;
          display: inline-block;
          width: 0;
          height: 0;
          border: 8px solid transparent;
          border-top-color: #f7f7f7; }
      .cont .register .register_cont .phone_gj {
        background: #f7f7f7;
        width: 342px;
        height: 320px;
        position: absolute;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 999;
        padding: 8px 10px;
        box-sizing: border-box;
        border: 1px solid #f7f7f7;
        border-radius: 9px;
        margin-top: 9px;
        top: 49px;
        left: 50%;
        transform: translate(-50%);
        display: none; }
        .cont .register .register_cont .phone_gj .icon-sousuo-copy {
          position: absolute;
          top: 18px;
          left: 20px; }
        .cont .register .register_cont .phone_gj input {
          padding: 0;
          width: 100%;
          background-color: #fff;
          border: none;
          outline: none;
          text-indent: 34px;
          color: #9b9b9b;
          height: 34px;
          box-sizing: border-box;
          border-radius: 9px; }
        .cont .register .register_cont .phone_gj .gj_szm {
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          padding: 0 16px;
          color: #4d4d4d;
          box-sizing: border-box;
          border-bottom: 1px solid #efefef;
          text-align: left; }
        .cont .register .register_cont .phone_gj ul {
          padding: 0 16px; }
          .cont .register .register_cont .phone_gj ul li {
            height: 40px;
            line-height: 40px;
            font-size: 14px;
            color: #000;
            text-align: left; }
            .cont .register .register_cont .phone_gj ul li span {
              float: right;
              color: #999; }
          .cont .register .register_cont .phone_gj ul li:hover {
            color: #d8d8d8; }
          .cont .register .register_cont .phone_gj ul li:hover span {
            color: #d8d8d8; }
      .cont .register .register_cont input {
        display: block;
        width: 100%;
        height: 48px;
        margin: 0 auto;
        background: #f7f7f7;
        border-radius: 9px;
        box-sizing: border-box;
        text-indent: 16px;
        font-size: 14px;
        color: #000;
        border: none;
        outline: 0; }
      .cont .register .register_cont .input {
        position: relative;
        width: 342px;
        margin: 9px auto; }
        .cont .register .register_cont .input input {
          width: 210px;
          margin: 0;
          display: block;
          height: 48px;
          line-height: 1;
          background: #f7f7f7;
          border-radius: 9px;
          box-sizing: border-box;
          text-indent: 16px;
          font-size: 14px;
          color: #000; }
        .cont .register .register_cont .input .input_code {
          position: absolute;
          height: 48px;
          line-height: 48px;
          min-width: 120px;
          padding: 0 8px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          top: 0;
          right: 0;
          border: 1px solid #2ad181;
          background-color: #2ad181;
          border-radius: 9px;
          font-size: 14px;
          color: #fff;
          text-align: center;
          cursor: pointer; }
      .cont .register .register_cont .pass {
        display: block;
        height: 48px;
        line-height: 1;
        margin: 0 auto;
        background: #f7f7f7;
        border-radius: 9px;
        box-sizing: border-box;
        text-indent: 16px;
        font-size: 14px;
        color: #000;
        padding-right: 35px; }
      .cont .register .register_cont .icon-xianshimima {
        position: absolute;
        bottom: 12px;
        right: 12px;
        font-size: 22px;
        color: #d1d1d1; }
      .cont .register .register_cont .icon-yincangmima {
        position: absolute;
        bottom: 12px;
        right: 12px;
        font-size: 22px;
        color: #d1d1d1; }
      .cont .register .register_cont .agreements {
        position: relative;
        width: 342px;
        margin: 12px auto 0;
        font-family: FZYOUH_508R--GB1-4;
        font-size: 13px;
        color: #9b9b9b;
        line-height: 14px;
        padding-left: 22px;
        box-sizing: border-box; }
        .cont .register .register_cont .agreements .fx {
          position: absolute;
          width: 16px;
          height: 16px;
          top: -2px;
          left: 0;
          background: #2ad181; }
        .cont .register .register_cont .agreements .agreements_info a {
          color: #2ad181;
          cursor: pointer; }
      .cont .register .register_cont .button {
        position: relative;
        display: block;
        width: 342px;
        height: 48px;
        line-height: 48px;
        margin: 9px auto;
        text-align: center;
        border: none;
        border-radius: 9px;
        font-size: 15px;
        color: #fff;
        background-color: #2ad181;
        margin-top: 37px;
        opacity: .3; }

.hide {
  display: none; }

.foot {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 57px; }
  .foot p {
    font-family: MyriadPro-Regular;
    font-size: 12px;
    color: #9b9b9b;
    text-align: center; }
    .foot p span {
      margin-left: 5px; }

/*# sourceMappingURL=register.css.map */
