@charset "utf-8";
body{
	background: #fff;
}
//导航
.nav{
	position: relative;
    font-family: FZYOUH_508R--GB1-4;
    display: block;
    width: 100%;
    height: 78px;
    line-height: 78px;
    background: #fff;
    padding: 0 65px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
		nav{
			width: 894px;
			margin: 0 auto;
			height: 100%;
			ul{
				float: left;
				display: flex;
				li{
					a{
						font-family: MyriadPro-Regular;
						height: 78px;
						line-height: 78px;
						font-size: 14px;
						color: #7f7f7f;
						margin-right: 27px;
					}
				}
			}
			.zyqh{
				text-align: center;
				float: right;
				position: relative;
				color: #7f7f7f;
				font-size: 14px;
				span{
					    height: 0;
						width: 0;
						display: inline-block;
						border: 5px solid transparent;
						border-top-color: #7f7f7f;
						margin-left: 10px;
						margin-bottom: -1px;
				}
				.changeBox{
					    width: 110px;
						background: #fff;
						border-radius: 5px;
						position: absolute;
						z-index: 20;
						top: 60px;
						right: 0;
						overflow: hidden;
						display: none;
						-webkit-box-shadow: 1px 1px 2px 0 #d3d3d3;
						box-shadow: 1px 1px 2px 0 #d3d3d3;
						div{
							    padding: 5px 20px;
								cursor: pointer;
								height: 40px;
								line-height: 40px;
						}
						div:hover{
							background: #f9fafc;
						}
				}
			}
		}
}
//登录
.cont{
	width: 100%;
	.cont_bt{
		width: 960px;
		margin: 0 auto;
		text-align: center;
		.log{
			margin: 45px auto 15px;
			height: 25px;
		}
		p{
			font-size: 13px;
			color: #000;
			text-align: center;
			letter-spacing: 0;
		}
	}
	.login{
		width: 960px;
		margin: 0 auto;
		.login_cont{
			width: 442px;
			min-height: 488px;
			margin: 0 auto;
			background: #f7f7f7;
			overflow: hidden;
			margin-top: 44px;
			.tab{
				font-family: sans-serif;
				font-weight: 500;
				display: table;
				margin: 34px auto 47px;
				width: 320px;
				height: 21px;
				line-height: 21px;
				font-size: 21px;
				color: #000;
				text-align: center;
				cursor: pointer;
				.tab_noe{
					color: #2ad181;
					position: relative;
				}
				.tab_noe:after{
					content: "";
					width: 2px;
					height: 15px;
					position: absolute;
					right: 0;
					top: 3px;
					background: #d8d8d8;
				}
				.tab_two{
					    display: table-cell;
						opacity: .7;
				}
			}
			.login_input{
				text-align: center;
				padding: 0 53px;
				position: relative;
				.phone_qh{
					display: none;
					position: absolute;
					top: 0;
					left: 78px;
					width: 77px;
					text-align: center;
					line-height: 48px;
					height: 48px;
					padding-right: 22px;
					box-sizing: border-box;
					z-index: 10;
					i{
						position: absolute;
						top: 22px;
						right: 8px;
						display: inline-block;
						width: 0;
						height: 0;
						border: 6px solid transparent;
						border-top-color:#7f7f7f; 
					}
				}
				.phone_qh::after{
					content: "";
					position: absolute;
					right: 0;
					top: 18px;
					height: 12px;
					width: 1px;
					background: #d8d8d8;
				}
				.zone_search{
					position: relative;
				}
				.gj{
					background: #fff;
					width: 285px;
					height: 320px;
					position: absolute;
					overflow-x: hidden;
					overflow-y: scroll;
					z-index: 999;
					padding: 8px 10px;
					box-sizing: border-box;
					border: 1px solid #f7f7f7;
					border-radius: 9px;
					margin-top: 9px;
					top: 49px;
					left: 50%;
					transform: translate(-50%);
					display: none;
					.icon-sousuo-copy{
						position: absolute;
						top: 8px;
						left: 12px;
					}
					input{
						width: 100%;
						background-color: #f7f7f7;
						border: none;
						outline: none;
						text-indent: 34px;
						color: #9b9b9b;
						height: 34px;
						box-sizing: border-box;
						border-radius: 9px;
					}
					.gj_szm{
						font-size: 14px;
						height: 40px;
						line-height: 40px;
						padding: 0 16px;
						color: #4d4d4d;
						box-sizing: border-box;
						border-bottom: 1px solid #efefef;
						text-align: left;
					}
					ul{
						padding: 0 16px;
						li{
							height: 40px;
							line-height: 40px;
							font-size: 14px;
							color: #000;
							text-align: left;
							span{
								float: right;
								color: #999;
							}
						}
						li:hover{
							color: #d8d8d8;
						}
						li:hover span{
							color: #d8d8d8;
						}
					}
				}
				form{
					display: flex;
					flex-direction: column;
					position: relative;
					input{
						width: 285px;
						height: 48px;
						margin: 0 auto;
						border-radius: 9px;
						box-sizing: border-box;
						text-indent: 16px;
						font-size: 14px;
						color: #000;
						margin-bottom: 10px;
						border: none;
						outline: medium;
					}
				}
				.icon-yincangmima{
					position: absolute;
					bottom: 20px;
					right: 40px;
					font-size: 22px;
					color: #d1d1d1;
				}
				.login_wj{
					width: 285px;
					margin: 6px auto 45px;
					text-align: right;
					height: 17px;
					a{
						color: #5a6e97;
						font-size: 12px;
						float: left;
					}
					a:last-of-type{
						float: right;
					}
					a:hover{
						opacity: .8;
					}
				}
				.loginTips{
					width: 285px;
					margin: 23px auto 0;
					font-size: 12px;
					color: #ec5b66;
					text-align: center;
					opacity: 0;
				}
				.but{
					width: 285px;
					position: relative;
					display: block;
					height: 48px;
					line-height: 48px;
					margin: 9px auto;
					text-align: center;
					background-color: #2ad181;;
					border: none;
					outline: none;
					border-radius: 9px;
					font-size: 15px;
					color: #fff;
					cursor: pointer;
				}
				.but:hover{
					opacity: .5;
				}
				.zc{
					background: transparent;
					color: #2ad181;
				}
			}
			.login_fx{
				margin: 20px auto;
				text-align: center;
				.login_fx_bt{
					font-family: FZYOUH_508R--GB1-4;
					font-size: 12px;
					line-height: 1;
					color: #9b9b9b;
					position: relative;
					width: 84px;
					margin: 0 auto;
				}
				.login_fx_bt::before{
					content: "";
					position: absolute;
					top: 6px;
					width: 32px;
					height: 1px;
					background: #c5c5c5;
					left: -47px;
				}
				.login_fx_bt::after{
					content: "";
					position: absolute;
					top: 6px;
					width: 32px;
					height: 1px;
					background: #c5c5c5;
					right: -47px;
				}
				.login_fx_fs{
					margin: 15px auto 32px;
					span{
						font-size: 28px;
					}
					.qq{
						margin-right: 15px;
						color: #7ad0ff;
					}
					.wx{
						color: #7fe0ae;
					}
				}
			}
			.login_sm{
				display: none;
				.codeContent{
					margin: 75px auto 0;
					text-align: center;
					.codeImg{
						height: 180px;
						img{
							width: 180px;
							height: 180px;
						}
						.code_url{
							margin-right: 15px;
						}
					}
					.code_expired{
						height: 180px;
						background-image: url(../imgs/index/login/code_expired.762804f4.png);
						background-position: 50%;
						background-size: contain;
						background-repeat: no-repeat;
						// display: none;
						p{
							opacity: .7;
							font-family: sans-serif;
							font-weight: 500;
							font-size: 18px;
							color: #000;
							padding-top: 54px;
							margin-bottom: 15px;
						}
						.buttonInline{
							font-family: sans-serif;
							font-weight: 500;
							position: relative;
							display: inline-block;
							width: 110px;
							height: 48px;
							line-height: 48px;
							text-align: center;
							background: transparent;
							background: #2ad181;
							border: none;
							outline: none;
							border-radius: 9px;
							border: 1px solid #2ad181;
							-webkit-box-sizing: border-box;
							box-sizing: border-box;
							font-size: 15px;
							color: #fff;
							white-space: nowrap;
							-webkit-appearance: none;
							cursor: pointer;
							-webkit-transition: .1s;
							transition: .1s;
						}
					}
					.code_tip{
						text-align: center;
						margin-top: 45px;
						opacity: .7;
						font-family: sans-serif;
						font-weight: 500;
						font-size: 15px;
						color: #000;
					}
					.code_success{
						.icon-duigou{
							color: #2ad181;
							font-size: 84px;
						}
						p{
							font-family: sans-serif;
							font-size: 24px;
							color: #000;
							line-height: 1;
						}
						.code_success_tip{
							padding-top: 16px;
							opacity: .7;
							font-family: FZYOUH_510M--GB1-4;
							font-size: 18px;
							color: #000;
							margin-bottom: 15px;
							line-height: 1;
						}
						.secondary_btn{
							@extend .but ;
							font-weight: 500;
							font-size: 21px;
							margin-top: 103px;
							color: #2ad181;
							background: transparent;
							border: none;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
}
.hide{
	display: none;
}
//版权
.foot{
	position: relative;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 57px;
	p{
		font-family: MyriadPro-Regular;
		font-size: 12px;
		color: #9b9b9b;
		text-align: center;
		span{
			margin-left: 5px;
		}
	}
}