@charset "utf-8";
.shop_lei{
	padding: 52px 0;
	margin-bottom: 20px;
	position: relative;
	.shop_xinXi{
		margin-top: 40px;
		ul{
			margin-bottom: 32px;
		}
	}
	h3{
		font-size: 30px;
		color: #333333;
	}
	h2{
		font-size: 14px;
		color: #4b4b4b;
		margin-top: 14px;
		margin-bottom: 24px;
	}
	h4{
		font-size: 16px;
		color: #333333;
	}
}
.shop_lei:nth-of-type(2n+1){
	margin-right: 20px;
}
.shop_lei:last-child{
	flex-grow: 0;
}
.shop_xinXi_two ul{
	
	 li:first-child{
		border-color: rgb(26, 73, 216);
		i{
			background-color: rgb(26, 73, 216);
			background-image: linear-gradient(to right bottom, rgb(26, 73, 216), rgb(170, 37, 164));
		}
	}
	li:nth-of-type(2) i{
		background-color: rgb(48, 102, 107);
		background-image: linear-gradient(to right bottom, rgb(48, 102, 107), rgb(158, 203, 194));
	}
}
.shop_xinXi_three ul{
	li:nth-of-type(1){
		border-color: rgb(22, 0, 88);
		i{
			background-color: rgb(226, 34, 189);
			background-image: linear-gradient(to right bottom, rgb(226, 34, 189), rgb(22, 0, 88));
		}
	}
	li:nth-of-type(2) i{
		background-color: rgb(247, 248, 249);
		background-image: linear-gradient(to right bottom, rgb(247, 248, 249), rgb(28, 79, 82));
	}
} 
.shop_xinXi_four ul{
	li:nth-of-type(1){
		border-color: rgb(30, 47, 144);
		i{
			background-color: rgb(120, 141, 237);
			background-image: linear-gradient(to right bottom, rgb(120, 141, 237), rgb(30, 47, 144));
		}
	}
	li:nth-of-type(2) i{
		background-color: rgb(255, 229, 229);
		background-image: linear-gradient(to right bottom, rgb(255, 229, 229), rgb(255, 210, 213));
	}
	li:nth-of-type(3) i{
		background-color: rgb(255, 80, 80);
		background-image: linear-gradient(to right bottom, rgb(255, 80, 80), rgb(153, 0, 15));
	}
} 
.shop_xinXi_five ul{
	li:nth-of-type(1){
		border-color: rgb(167, 149, 111);
		i{
			background-color: rgb(167, 149, 111);
			background-image: linear-gradient(to right bottom, rgb(167, 149, 111), rgb(235, 204, 138));
		}
	}
	li:nth-of-type(2) i{
		background-color: rgb(251, 234, 232);
		background-image: linear-gradient(to right bottom, rgb(251, 234, 232), rgb(245, 218, 214));
	}
	li:nth-of-type(3) i{
		background-color: rgb(144, 172, 178);
		background-image: linear-gradient(to right bottom, rgb(144, 172, 178), rgb(176, 213, 217));
	}
} 
// 配件
.parts_bt{
	width: 100%;
	padding: 32px 0;
}
.parts_bt span{
	color: #333333;
	font-size: 20px;
	font-weight: 900;
}
.parts_bt ul{
	display: inline-block;
	line-height: 100%;
	float: right;
}
.parts_bt ul li{
	float: left;
	height: 100%;
	border-radius: 18px;
	font-size: 16px;
	line-height: 34px;
    padding: 0 16px;
    display: inline-block;
}
.parts_bt ul li:first-of-type{
	background: #fff;
	color: #06B570;
}
.parts{
	display: flex;
	flex-wrap: wrap;
	.parts_fl{
		flex: 0 0 25%;
		max-width: 25%;
	}
	.parts_fl:first-of-type{
		flex: 0 0 50%;
		max-width: 50%;
	}
}
.parts_box{
	background: #fff;
	margin: 10px;
	position: relative;
	height: 400px;
	overflow: hidden;
	text-align: center;
	img{
		width: 100%;
		height: auto;
		margin-bottom: 42px;
		margin-top: 72px;
	}
	a{
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}
.parts_fl_rm .parts_box img{
		width: auto;
		height: 100%;
		position: absolute;
		left: -50px;
}
.parts_fl_rm .parts_box section{
		top: 160px;
		left: -90px;
}
.parts_fl:nth-of-type(2) .parts_box span{
		color: #f79a47;
		border: 1px solid #f79a47;
		background-color: rgba(247,154,71,0.15);
}
.parts_box{
	a{
		color: #000;
	}
	span{
		position: absolute;
		left: 40px;
		top: 40px;
		width: 77px;
		height: 28px;
		line-height: 28px;
		border-radius: 3px;
		font-size: 14px;
		text-align: center;
		display: inline-block;
		color: #00c678;
		border: 1px solid #00c678;
		background-color: rgba(0,198,120,0.15);
		z-index: 3;
	}
	section{
		position: relative;
		z-index: 3;
		text-align: center;
		display: inline-block;
		bottom: 0;
		h3{
			font-size: 24px;
			font-weight: 100;
		}
		h4{
			font-size: 16px;
			margin-top: 16px;			
			font-weight: 100;
		}
	}
}
// 底部
.foot{
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden;
	padding-bottom: 36px;
}
.foot_hd{
	height: 205px;
	margin: 0 76px;
	border-bottom: 1px solid #d6d6d6;
	.foot_hd_box{
		width:100%;
		height: 100%;
		display: flex;
		justify-content: center;
		ul{
			display: inline-block;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			li{
				float: left;
				margin: 0 20px;
				text-align: center;
				a{
					color: #8f8f8f;
					font-size: 12px;
					display: inline-block;
					span{
						font-size: 38px;
						margin-bottom: 14px;
					}
					h5{
						font-weight: 100;
					}
				}
			}
		}
	}
}
.foot_title{
	margin: 0 76px;
	margin-top: 60px;
	overflow: hidden;
}
.foot_nav{
	float: left;
	width: 62%;
	nav{
		display: flex;
		dl{
			flex: 1;
			font-size: 16px;
			color: #080808;
			dt{
				
			}
			dd{
				padding: 8px 0;
				line-height: 1;
				font-size: 12px;
				a{
					color:  #6f6f6f;
				}
			}
		}
	}
}
.foot_phone{
		display: inline-block;
		float: right;
		text-align: center;
		a{
			display: inline-block;
			color: #fff;
			font-size: 16px;
			background: #666666;
			width: 174px;
			height: 50px;
			border-radius: 24px;
			text-align: center;
			margin-bottom: 20px;
		}
		img{
			width: 32px;
			height: 26px;
			vertical-align: middle;
			margin-right: 10px;
		}
		span{
			line-height: 50px;
		}
		h3{
			font-weight: 100;
			font-size: 18px;
			color: #333;
		}
		h5{
			font-weight: 100;
			font-size: 13px;
			 color: #909090;
			 margin-top: 16px;
		}
	}
	//版权
	.foot_bq{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: relative;
		width: 1200px;
		margin: 72px auto 0 auto;
		padding-top: 24px;
		color: #98979A;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border-top: 1px #EBEBEB solid;
		.foot_bq_z{
			-webkit-box-flex: 1;
			-ms-flex: 1;
			flex: 1;
			font-size: 12px;
			line-height: 25px;
			a{
				color: #98979A;
				text-decoration: none;
				cursor: pointer;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			img{
				vertical-align: sub;
			}
		}
	}
	.foot_bq .foot_bq_z a:last-of-type{
		margin-left: 10px;
	}
	.foot_bq_r{
		strong{
			font-weight: normal;
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			text-align: right;
		}
		a{
			color: #a1a1a1;
			span{
				margin-left: 10px;
				font-size: 10px;
			}
		}
		img{
			width: 20px;
			height: 16px;
			vertical-align: middle;
		}
	}